.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%; /* Centraliza na tela toda */
  }
  ion-input {
    width: 100%;
    max-width: 300px; /* Limita a largura dos inputs */
  }
  