.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  ion-input {
    width: 100%;
    max-width: 300px; /* Limita a largura dos inputs */
  }