<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      AppAula1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-fab slot="fixed" vertical="top" horizontal="end" [edge]="true">
    <ion-fab-button>
      <ion-icon name="chevron-back-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button>
        <ion-icon name="chatbubbles-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="cloud-upload-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="file-tray-full-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <br>
  <h3>Noval Lista</h3>
  <ion-list>
    <!-- Loo através do array 'itens' para exibir os itens -->
    <ion-item *ngFor="let item2 of itens" (click)="irParaPagina(item2.url)">
      <ion-label>{{item2.nome}}</ion-label>
    </ion-item>
  </ion-list>


  <ion-card style="text-align: center;">
    <img alt="Xampsom" src="..\..\assets\img\Xab.png"/>
    <ion-card-header>
      <ion-card-title>Card Titulo</ion-card-title>
      <ion-card-subtitle>Card SubTitulo</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Descrição ou texto
    </ion-card-content>
  </ion-card>
  <ion-button id="click-trigger">Clique Aqui</ion-button>
<ion-popover trigger="click-trigger" triggerAction="click">
  <ng-template>
    <ion-content class="ion-padding">Hello World!</ion-content>
  </ng-template>
</ion-popover>
<ion-button expand="block" (click)="apresentarToast('top')">Toast click</ion-button>

</ion-content>